.mainpage_container{
    height: 700px;
    background-color: #EFF2F5;
}

.imageLayout_container{
    display: flex;
    margin: 15px;
}
/* 
.imageLayout_imglay{
} */

.imageLayout_img{
    max-height: 40px;
    max-width: 40px; /*limit the size of the image */
    margin: 1px;
}

.imageLayout_text{
    font-weight: 500;
    margin: 10px;
    font-size: 14px;

}

.middleContainer{
    margin-left: 50px !important;
    overflow-y: scroll;
    height: 700px;
    max-width: 600px !important;
}