.statusbar_container{
    display: flex;
    width: 600px;
    overflow-x: scroll;
}

.statusbar_status{
    height: 200px;
    width: 110px;
    margin: 20px 5px;
    border-radius: 15px !important;
}

/* .statusbar_img{

} */

.img{
    width: 110px;
    height: 200px;
    object-fit: "cover"; /* Ensures the image covers the entire container */
    position: "absolute"; /* Position the image absolutely within the container*/
    top: 0; /* Align the image to the top*/
    left: 0; /* Align the image to the left*/
}

/* .statusbar_text{

} */

/* .text{} */